<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bubtjobs.com.admin">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.AdminHome"
            android:label="@string/app_name" />
        <activity
            android:name=".Activity.ShowRegistrationList"
            android:label="@string/title_activity_registration_list_activity" />
        <activity android:name=".Activity.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.SignUp" />
        <activity android:name=".Activity.StudentHome" />
        <activity android:name=".Activity.AdminSendNotification" />
        <activity android:name=".Activity.StudentNotification" />
        <activity android:name=".Activity.ExamPage" />
        <activity android:name=".Activity.ExamRule" />
        <activity android:name=".Activity.SetExamDuration"></activity>
        <activity android:name=".Activity.AddQuestion"></activity>
    </application>

</manifest>
